:root{

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: grid;
  background-color: #fefefe;
}
dialog{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: red;

  animation: slide-up 500ms ease-out;
}
.input{
  --w: 70vw;
  outline: none;
  border: 2px solid rgba(51, 49, 49, 0.1);
  padding: 1rem;
  text-indent: 32px;
  width: var(--w);
  display: flex;
  margin: 1rem auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.103);
  transition: all ease-out 500ms;
}
.input::placeholder{
  color: rgba(0, 0, 0, 0.281);
}
.input:hover, .input:focus{
  border-color: #3b3b3b67;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.212);
}
.input--prominent{
  position: fixed;
  left: calc(50vw - var(--w) / 2);
}
.btn{
  outline: none;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
}
.btn--primary{
  background-color: #000;
  color: #fff;
}
.list{
  margin-top: 12vh;
}

.meter{
  display: grid;
  padding: 1rem;
  width: 98%;
  background-color: #f4f4f4;
  margin: .5rem auto;
  outline: 1px solid;
  cursor: pointer;
}
.meter__id{
  color: rgb(51, 49, 49);
  font-size: 16px;
}
.meter__reading{
  font-size: 18px;
  font-weight: 600;
}
@keyframes slide-up{
  from{
    top: 100vh;
  }
  to{
    top: 0;
  }
}